
*.cfg
.godot/editor/candle.tscn-editstate-ce85238740aa679ebbfcd820673556e5.cfg
.godot/editor/candle.tscn-editstate-ce85238740aa679ebbfcd820673556e5.cfg
.godot/editor/caster.tscn-editstate-1c2001df93dce351e7b367fe346ff7c0.cfg
.godot/editor/editor_layout.cfg
.godot/editor/filesystem_cache8
.godot/editor/filesystem_update4
.godot/editor/fret_board.tscn-editstate-0a300b3d9b142bb3b3d8b3f88e0ffe50.cfg
.godot/editor/main.tscn-editstate-3070c538c03ee49b7677ff960a3f5195.cfg
.godot/editor/main_menu_music.tscn-editstate-8a7610c766190bb8fa85b713dd7210ad.cfg
.godot/editor/menu.tscn-editstate-a4951207776b25ee5c8b2b05c1463587.cfg
.godot/editor/options_menu.tscn-editstate-77fc17826776f79fdadd0e113afac69d.cfg
.godot/editor/player.tscn-editstate-753d15e03e0182f9d550ac833b42bb41.cfg
.godot/editor/rhytm_manager.tscn-editstate-a77f0fc056c34f48d7f0d3cf2865bc2a.cfg
.godot/editor/script_editor_cache.cfg
.godot/editor/sound_fx.tscn-editstate-98ef2b0826c01488b1b56dbd38601e8a.cfg
.godot/editor/sound_fx.tscn-folding-98ef2b0826c01488b1b56dbd38601e8a.cfg
.godot/editor/sound_slider.tscn-editstate-89726d3fdaa8a6423f8c8010986a8884.cfg
